<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Qingfeng Yang - Software Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="resume_files/bootstrap.css" rel="stylesheet">
    <link href="resume_files/style.css" rel="stylesheet">
    <style>
        .avatar {
            width: 125px;
            height: 125px;
        }
    </style>
</head>
<body style="display: block;">
<section class="container">

    <!-- Header -->
    <header class="row-fluid">
        <div class="title span7">
            <h1>{{basics.name}}</h1>
            <h2>{{basics.label}}</h2>
        </div>
        <div class="social offset1 span4">
            <ul>
                <li>{{basics.location.address}}</li>
                <li>{{basics.location.city}} {{basics.location.region}} {{basics.location.postalCode}}</li>
                <li>{{basics.email}}</li>
                <li>{{basics.phone}}</li>
            </ul>
        </div>
    </header>

    <!-- Education Text -->
    {{#education}}
        <article class="row-fluid">
            <header class="span3">
                <h3>Education</h3>
                {{this.startDate}} - {{this.endDate}}
            </header>
            <div class="span9 ">
                <p class="welcome">
                    {{this.institution}}<br>
                    {{this.studyType}} {{this.area}}
                </p>
            </div>
        </article>
    {{/education}}

    <!-- Skills -->
    {{#skills}}
        <article class="row-fluid">
            <header class="span3">
                <h3>{{this.name}}</h3>
                <ul>
                    {{#this.keywords}}
                        <li><strong>{{this}}</strong></li>
                    {{/this.keywords}}
                </ul>
            </header>
            <div class="span9">
                <div class="row-fluid skills">
                    <ul class="span6">
                        <li><h4>Skill</h4></li>
                        <li><strong>Mobile Development</strong></li>
                        <li><strong>Object Orientation</strong></li>
                        <li><strong>Relational Database<strong></li>
                        <li><strong>Web Design</strong></li>
                        <li><strong>Version Control</strong></li>
                    </ul>
                    <ul class="span6">
                        <li><h4>Framework</h4></li>
                        <li><strong>Spring/Hibernate</strong></li>
                        <li><strong>Django</strong></li>
                        <li><strong>CodeIgniter</strong></li>
                        <li><strong>ASP.Net MVC</strong></li>
                        <li><strong>Angular JS</strong></li>
                    </ul>
                </div>
            </div>
        </article>
    {{/skills}}

    <!-- Work -->
    {{#work}}
        <article class="row-fluid">
            <header class="span3">
                <h3>Work Experience</h3>
                {{this.startDate}} - <br>
                {{#if this.endDate}}{{this.endDate}}{{else}}Present{{/if}}<br>
            </header>
            <div class="span9">
                <h4>
                    {{this.position}}
                    <span class=" h5 pull-right">{{this.company}}&trade;</span>
                </h4>
                <p>{{this.summary}}</p>
                <span><b>{{#if this.highlights}}Highlights:{{/if}}</b></span>

                <ol>
                    {{#this.highlights}}
                        <li>
                            {{this}}
                        </li>
                    {{/this.highlights}}
                </ol>

            </div>
        </article>
    {{/work}}

    <!-- Interests -->
    <article class="row-fluid">
        <header class="span3">
            <h3>Open Source</h3>
            <ul>
                <li>
                    <a href="https://github.com/xiaoerge" target="_blank">Xiaoerge @ Github</a>
                </li>
            </ul>
        </header>
        <div class="span9">
            <h4>
                HTTP Database
            </h4>
            <ol>
                <li>
                    Read­only access to database via HTTP GET methods
                </li>
            </ol>
            <h4>Graphical FTP Client</h4>
            <ol>
                <li>
                    Easily navigates through directories with the graphical view of the remote file system.
                </li>
                <li>
                    Support drag &amp; drop download/upload.
                </li>
            </ol>
            <h4>XML to Swing Parser</h4>
            <ol>
                <li>
                    Generate Java GUI from XML. Inspired by Android Layout Builder.
                </li>
            </ol>
        </div>
    </article>

    <!-- Footer -->
    <footer>
        &copy; Qingfeng Yang &nbsp;
        <a href="#" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>

    </footer>
</section>
</body>
</html>
